<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-center text-small text-muted">© Copyright 2019 - Eshwar Rachala.</span>
    </div>
    <!-- Bootstrap Core JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

</footer>