<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/head %>
</head>
<body>
  <header>
    <%- include ../partials/header %>
  </header>
  <form>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <textarea type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></textarea>
        <div class="pt-2">
          <button id="report" type="submit" class="btn btn-primary">Get a Report</button>
        </div>
      </div>
    </div>
  </form>
  <div class="contaner">
  </div>
  <footer class="footer">
    <% include ../partials/footer %>
  </footer>
  <script rel='text/javascript' src='/javascripts/index.js'></script>
</body>

</html>