<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ../partials/head %>
</head>

<body>
  <header>
    <%- include ../partials/header %>
  </header>
  <main role="main" class="container-fluid">
    <form>
      <div class="form">
        <textarea type="text" class="form-control" id="textInput"></textarea>
        <div class="pt-1 pb-1 float-right">
          <button id="report" type="submit" class="btn btn-primary">Get a Report</button>
        </div>
      </div>
      <div class="contaner">
        <table id="example" class="display" style="width:100%">
          <thead></thead>
          <tbody></tbody>
        </table>
      </div>
    </form>

  </main>
  <% include ../partials/footer %>
  <script rel='text/javascript' src='/javascripts/index.js'></script>
</body>

</html>