<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ../partials/head %>
</head>

<body>
  <header>
    <%- include ../partials/header %>
  </header>
  <!-- <h1><%-title%></h1> -->

  <main role="main" class="container-fluid">
    <div class="row chart-container">
      <div id="my_dataviz"></div>
    </div><!-- /.row -->
  </main>
  <footer class="footer">
    <% include ../partials/footer %>
    <script rel='text/javascript' src='/javascripts/sankey.js'></script>
  </footer>
</body>

</html>